@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
$profilePicHeightWidth: 110px;
$containerHeight: 300px;
$containerWidth: 510px;
$borderRadius: 7px;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}
html, body{
     overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #415a74;
}

.bodyContainer,
.profileCard,
.contactCard,
.devCard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bodyContainer {
    height: 100vh;
    min-width: $containerWidth;
    padding: 0 10px;
}

.container {
    padding-left: 10px 0;
    max-width: $containerWidth;
    height: $containerHeight;
    animation: fadeIn 1s;

    .profileCard {
        margin: auto;
        padding: 15px;
        background-color: #ECF0F1;
        .profilePic {
            flex-direction: row;
            margin: auto;
        }
        .profilePic>img {
            border-radius: 50%;
            height: $profilePicHeightWidth;
            width: $profilePicHeightWidth;
        }
        .profileDetails {
            padding-left: 20px;
            color: #000;
            font-size: 100%;
            font-weight: 400;
            .Name {
                font-size: 35px;
                line-height: 0.8;
                font-weight: 400;
            }
            .tagLine {
                font-size: 18px;
                font-style: italic;
                line-height: 1.8;
                color: #1E5DAD;
                font-weight: 400;
            }
            .bio {
                padding-top: 5px;
                font-size: 16px;
                line-height: 1.2;
                font-weight: 300;
            }
        }
    }
    .devCard,
    .contactCard {
        background-color: #ECF0F1;
        padding: 8px 0;
        font-size: 28px;
        color: #000000;
    }
    .profileCard,
    .devCard,
    .contactCard {
        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.4);
        position: relative;
    }
    .profileCard {
        border-radius: $borderRadius;
        z-index: 3;
    }
    .devCard {
        z-index: 2;
        margin: 0 15px;
        border-radius: 0 0 $borderRadius $borderRadius;
        span {
            padding: 5px 10px 0px 10px;
            margin-bottom: -5px;
        }
        animation: devCardMove 1.5s;
    }
    .contactCard {
        z-index: 1;
        margin: 0 30px;
        padding: 0;
        border-radius: 0 0 $borderRadius $borderRadius;
       
        span {
            padding: 1px 10px;
            transition: all 0.5s;
            margin-bottom: -5px;
        }
        span:hover {
            transform: scale(1.20);
            transition: all 0.5s;
            cursor: pointer;
        }  
        animation: contactCardMove 2.5s;
    }
}


.svg-dev-icon {
    width: 30px;
    height: 30px;
}

.svg-contact-icon {
    width: 33px;
    height: 33px;
}

.svg-email-icon {
    width: 45px;
    height: 45px;
}



@keyframes devCardMove {
    0% {
        opacity: 0;
        top: -100px;
    }
    100% {
        opacity: 1;
        top: 0px;
    }
}

@keyframes contactCardMove {
    0% {
        opacity: 0;
        top: -200px;
    }
    100% {
        opacity: 1;
        top: 0px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}







@import "sticky";