<div class="project-container">
  <app-project-card class="project-card"></app-project-card>
  <app-project-card class="project-card"></app-project-card>
  <app-project-card class="project-card"></app-project-card>
  <app-project-card class="project-card"></app-project-card>
  <app-project-card class="project-card"></app-project-card>
  <app-project-card class="project-card"></app-project-card>
  <app-project-card class="project-card"></app-project-card>
  <app-project-card class="project-card"></app-project-card>
  <app-project-card class="project-card"></app-project-card>
  <app-project-card class="project-card"></app-project-card>
  <app-project-card class="project-card"></app-project-card>
  <app-project-card class="project-card"></app-project-card>
</div>
