<div (click)="onBackClick()" class="back-icon">
  <app-back-icon></app-back-icon>
</div>
<div class="soon">
  <div>&lt;Coming Soon /&gt;</div>
  <br>

  <table class="contact-table">
    <tr>
      <td class="title">Email:</td>
      <td>
        <a href="mailto:ritwickdey@outlook.com">ritwickdey@outlook.com</a>
      </td>
    </tr>
    <tr>
      <td class="title">GitHub:</td>
      <td>
        <a target="_blank" href="https://github.com/ritwickdey">github.com/ritwickdey</a>
      </td>
    </tr>
    <tr>
      <td class="title">Stackoverflow:</td>
      <td>
        <a target="_blank" href="https://stackoverflow.com/story/ritwickdey">stackoverflow.com/story/ritwickdey</a>
      </td>
    </tr>
    <tr>
      <td class="title">Pluralsight:</td>
      <td>
        <a target="_blank" href="https://pluralsight.com/profile/ritwickdey">pluralsight.com/profile/ritwickdey</a>
      </td>
    </tr>
    <tr>
      <td class="title">Hackerrank:</td>
      <td>
        <a target="_blank" href="https://hackerrank.com/ritwickdey">hackerrank.com/ritwickdey</a>
      </td>
    </tr>
  </table>
