@import '../var';
.soon {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  color: #fff;
  font-family: 'Cormorant Garamond', serif;
  flex-direction: column;
  background: $color2;
}

.contact-table {
  font-size: 1.6rem;
  font-family: 'Courier New', Courier, monospace;
  @media (max-width: 550px) {
    font-size: 1.5rem;
  }
}

.title {
  padding: 0.4rem 2rem;
}

a {
  text-decoration: none;
  color: #f2f2f2;
}
