<div class="overlay"></div>
<div class="root-container">
  <div class="navbar">
    <div class="nav-items">
      <div class="nav-item">
        <a [routerLink]="['/portfolio']">Portfolio</a>
      </div>
      <div class="nav-item">
        <a [routerLink]="['/about']">About</a>
      </div>
      <div class="nav-item">
        <a [routerLink]="['/contact']">Contact</a>
      </div>
    </div>
  </div>

  <div class="container">
    <app-dp-logo class="dp-logo"></app-dp-logo>
    <h4 class="short-bio">Student | Developer | Contributor</h4>

    <q class="quote">Help others in the way of self-learning</q>
    <p class="name">RITWICK DEY</p>
    <div class="strip"></div>

    <button class="special-btn">Explore Me</button>
    <div class="stick">

      <div class="stick-design"></div>
    </div>
  </div>

</div>
