<div class="container">
  <div class="card">
    <div class="strip-block">
      <div class="profile-logo">
        <img src="assets/img/Profile-Pic-Ritwick-Dey2.jpg" alt="">
      </div>
      <div class="strip"></div>
      <div class="short-details">
        <h4 class="tagLine">
          Student | Developer | Contributor
        </h4>
        <blockquote class="quote">
          "I love to help others in the way of self-learning"
        </blockquote>
      </div>
    </div>

    <div class="details">
      <div class="nameBlock">
        <h1 class="round-shape name">
          Ritwick Dey
        </h1>
        <div class="divider">
          <div class="stick stick1"></div>
          <div class="stick stick2"></div>
        </div>
      </div>
      <p class="bio">
        I love coding, new technologies & chocolates. I'm mostly interested in Full Stack Web Development.
        <br> I love to work with ASP.NET Core, Node.js, Angular & React.
      </p>
      <div (mouseover)="startTadaAnimation = false" [ngClass]="{'tada-animation':startTadaAnimation}">
        <a class="round-shape projects-link" (click)="onExploreMeClick()">
          <span>
            Explore Me
          </span>
        </a>
      </div>
    </div>
    <div class="divider">
      <div class="stick stick1"></div>
      <div class="stick stick2"></div>
    </div>

    <div class="social">
      <div class="social-icon">
        <a href="https://www.facebook.com/DeyRitwick" target="_blank">
          <img src="assets/assert/contactIcon/facebook.svg" alt="facebook icon">
        </a>
      </div>
      <div class="social-icon">
        <a href="https://www.twitter.com/Dey_Ritwick" target="_blank">
          <img src="assets/assert/contactIcon/twitter.svg" alt="twitter icon">
        </a>
      </div>
      <div class="social-icon">
        <a href="https://www.github.com/ritwickdey" target="_blank">
          <img src="assets/assert/contactIcon/github.svg" alt="github icon">
        </a>
      </div>
      <div class="social-icon">
        <a href="https://app.pluralsight.com/profile/ritwickdey" target="_blank">
          <img src="assets/assert/contactIcon/pluralsight-icon.jpg" alt="github icon">
        </a>
      </div>
      <div class="social-icon">
        <a href="https://www.linkedin.com/in/ritwickdey/" target="_blank">
          <img src="assets/assert/contactIcon/linkedin.png" alt="linkedin icon">
        </a>
      </div>
      <div class="social-icon">
        <a href="mailto:ritwickdey@outlook.com">
          <img src="assets/assert/contactIcon/email.svg" alt="email icon">
        </a>
      </div>
    </div>

  </div>
</div>
