@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Open+Sans:300i,300');
@import './app/var';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: $bg-color;
}

@media (max-width: 460px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 360px)  {
  html {
    font-size: 7px;
  }
}

@media (max-width: 270px)  {
  html {
    font-size: 5px;
  }
}
